/* Styles for DOI Case Study */
.doiHead div {
    background-color: #6A2355;
    margin: 56px 0 0 0;
    height: 504px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.doiHead img {
    width: 71%;
    height: auto;
}

.doiHead h1 {
    text-align: center;
    margin: 40px 0 0 0;
}

.doiHead h4 {
    text-align: center;
    width: 65%;
    margin: 16px auto 0 auto;
}

.summary {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    margin: 66px auto 0 auto;
    justify-content: space-between;
    width: 65%;
}

.summary div {
    /* border: 1px solid blue; */
    width: 20%;
    margin: 0 auto;
}

.summary h5 {
    margin: 0;
    text-decoration: underline;
}

.summary p {
    margin: 12px 0 0 0;
}

.title {
    /* border: 1px solid red; */
    margin: 40px auto 0 auto;
    /* width: 65%; */
}

.title h2 {
    margin: 0px auto;
}

.decor {
    width: 225px;
    height: 24px;
    background-color: #B1A79E;
    margin: -28px 0 0 28px;
}

.background,
.research,
.definition,
.ideation,
.prototypes,
.testing,
.reflections {
    width: 65%;
    margin: 0 auto;
}

/* Styles for case study background section */
.background p {
    margin: 24px 0 0 0;
}

/* Styles for case study research section */
.research p {
    margin: 24px 0 0 0;
}

.research img {
    display: block;
    width: 38%;
    height: auto;
    margin: 16px auto 0 auto;
}

.testingSummary {
    display: grid;
    background-color: #133853;
    color: #efefef;
    margin: 24px auto 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 33% 67%;
    grid-template-areas:
        "formatTitle objectivesTitle tasksTitle"
        "formatList objectivesList tasksList";
}

#formatTitle {
    grid-area: formatTitle;
    margin: 24px 24px 16px;
}

#formatList {
    grid-area: formatList;
    margin: 0 24px 24px;
}

#objectivesTitle {
    grid-area: objectivesTitle;
    margin: 24px 24px 16px;
}

#objectivesList {
    grid-area: objectivesList;
    margin: 0 24px 24px;
}

#tasksTitle {
    grid-area: tasksTitle;
    margin: 24px 24px 16px;
}

#tasksList {
    grid-area: tasksList;
    margin: 0 24px 24px;
}

.testingSummary ul {
    list-style: square outside;
    padding: 0 0 0 24px;
}

/* Styles for case study definition section */
.definitionGrid {
    /* border: 1px solid orange; */
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 71% 29%;
    grid-template-areas:
        "testingNotes analysisImage"
        "navNotes navNotes";
}

#testingNotes {
    grid-area: testingNotes;
    margin: 0;
}

#analysisImage {
    grid-area: analysisImage;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0 0 0;
}

#analysisImage img {
    width: 100%;
    height: auto;
}

#navNotes {
    grid-area: navNotes;
}

.definition p {
    margin: 24px 0 0 0;
}

.definition ul {
    /* border: 1px solid red; */
    margin: 0;
    list-style: square outside;
    padding: 0 0 0 24px;
}

.definition li {
    padding: 0.5em 0;
}

/* Styles for case study ideation section */
.ideation p {
    margin: 24px 0 0 0;
}

.ideationGrid {
    /* border: 1px solid blue; */
    display: grid;
    margin: 0;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 48% 10% 32%;
    grid-template-areas:
        "para1 para1"
        "image1 image1"
        "para2 para2"
        "image2 para3";
}

#ideationPara1 {
    /* border: 1px solid green; */
    grid-area: para1;
}

#ideationImage1 {
    /* border: 1px solid teal; */
    width: 100%;
    height: auto;
    margin: 24px 0 0 0;
    grid-area: image1;
}

#ideationPara2 {
    /* border: 1px solid violet; */
    grid-area: para2;
}

#ideationPara3 {
    /* border: 1px solid cyan; */
    grid-area: para3;
}

#ideationImage2 {
    /* border: 1px solid blueviolet; */
    grid-area: image2;
    width: 80%;
    height: auto;
    display: block;
    margin: 24px auto 0 auto;
}

/* Styles for case study prototypes section */
.prototypes h4 {
    margin: 24px 0 0 0;
}

.prototypes p {
    margin: 24px 0 0 0;
}

.wireframeImages {
    background-color: #133853;
    margin: 24px 0 0 0;
    display: grid;
    grid-template-columns: 37% 37% 26%;
    grid-template-rows: 100%;
    grid-template-areas:
        "wireframeHomepage desktopNav mobileNav";
}

#wireframeHomepage {
    width: 95%;
    grid-area: wireframeHomepage;
    margin: 16px 10px;
}

#desktopNav {
    width: 95%;
    grid-area: desktopNav;
    margin: 16px 10px;
}

#mobileNav {
    width: 93%;
    grid-area: mobileNav;
    margin: 16px 10px;
}

.volunteerWireframes {
    /* border: 1px solid green; */
    width: 80%;
    margin: 24px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#initialVolWireframe {
    width: 45%;
}

#revVolWireframe {
    width: 45%;
}

.hiFidelity {
    /* border: 1px solid magenta; */
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 68% 32%;
    grid-template-areas:
        "para1 styletile"
        "para2 para2";
}

#hiFiPara1 {
    grid-area: para1;
}

#doiStyletile {
    grid-area: styletile;
    width: 97%;
    height: auto;
    margin: 24px 0 0 auto;
}

#hiFiPara2 {
    grid-area: para2;
    /* margin: 16px 0 0 0; */
}

/* Styles for case study testing section */
.testing p {
    margin: 24px 0 0 0;
}

.testingImages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.testingImages img {
    width: 49%;
    height: auto;
    margin: 24px 0 0 0;
}

.prototypeLinks {
    /* border: 1px solid slateblue; */
    width: 89%;
    margin: 24px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#prototypeLinksContainer {
    background-color: #133853;
}

#prototypeLinksContainer a {
    color: #efefef;
    text-decoration: underline;
}

#mobilePrototype {
    /* border: 1px solid navy; */
    width: 22%;
    margin: 16px 0;
}

#desktopPrototype {
    /* border: 1px solid darkorchid; */
    width: 73.5%;
    margin: 16px 0;
}

#mobilePrototype img {
    width: 98%;
}

#desktopPrototype img {
    width: 100%;
}

#mobilePrototype figcaption {
    text-align: center;
    font-size: 0.8rem;
}

#desktopPrototype figcaption {
    text-align: center;
    font-size: 0.8rem;
}

/* Styles for case study reflections section */
.reflections p {
    margin: 24px 0 0 0;
}

.reflections ul {
    /* border: 1px solid red; */
    margin: 0;
    list-style: square outside;
    padding: 0 0 0 24px;
}

.reflections li {
    padding: 0.5em 0;
}