/* Styles for whole page */
body {
    background-color: #efefef;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #201E1F;
}

.font2 {
    font-family: "Cormorant", serif;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.3;
    font-weight: 400;
}

h1 {
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

a {
    text-decoration: none;
    /* color: #201E1F; */
}

button {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    padding: 10px 24px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    box-shadow: 0px 1px 2px 0px #0000004d, 0px 1px 3px 1px #00000026;
}

.holding {
    text-align: center;
}

/* Styles for header & nav bar */
header {
    /* border: 1px solid red; */
    font-size: 1.25rem;
    display: flex;
    width: 68%;
    height: 60px;
    justify-content: space-between;
    margin: 56px auto 0 auto;
    color: #201E1F;
    /* position: sticky;
    top: 0; */
}

nav {
    /* border: 1px solid red; */
    width: 316px;
    height: 60px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 15px 0;
    list-style: none;
}

nav a {
    color: #201E1F;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: #6A2355;
    text-decoration-thickness: 3px;
}

header img {
    height: 60px;
    width: auto;
}

/* Styles for hero */
.hero {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 68%;
    margin: 0 auto;
}

.hero div {
    /* border: 1px solid red; */
    width: 54%;
}

.hero h1 {
    font-weight: 700;
    margin: 0 0 24px 0;
}

.hero h3 {
    margin: 0 0 24px 0;
}

.hero button {
    background-color: #133853;
    border: 0;
}

.aboutBtn {
    color: #efefef;
}

/* .hero button:focus {
    border: 4px solid #b1a79e;
} */

.aboutBtn:active {
    background-color: #133853e6;
}

#heroImage {
    /* border: 1px solid orange; */
    height: 45%;
    width: 52%;
    padding: 0;
    margin-left: -5.7%;
}

/* Styles for middle section */
.middle {
    /* border: 1px solid purple; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 56px;
}

.middle h4 {
    /* border: 1px solid purple; */
    margin: 13px 0 0 0;
}

.middle svg {
    /* border: 1px solid red; */
    height: 24px;
    width: 24px;
    margin: 16px 0 0 8px;
}

/* Styles for projects section */
.projects {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 72px auto 0;
    width: 68%;
    height: 1600px;
}

.card {
    display: flex;
    margin: 0 0 48px 0;
    height: 25%;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px #0000004d, 0px 2px 6px 2px #00000026;
}

.card img {
    height: auto;
    width: 83%;
}

.cardButton {
    background-color: #efefef;
    border-style: solid;
    border-color: #133853;
    border-width: 1px;
    color: #133853;
}

.cardButton:active {
    border: 1px solid #133853b3;
    color: #201E1Fb3;
}

.leftPhoto {
    width: 64%;
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    width: 36%;
    border-radius: 0 10px 10px 0;
}

.info {
    /* border: 1px solid brown; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 87%;
    height: 75%;
}

.info h4 {
    /* border: 1px solid green; */
    font-weight: 700;
    margin: 0;
    height: 82px;
}

.info p {
    /* border: 1px solid yellow; */
    font-size: 1rem;
    margin: 0;
    height: 84px;
}

/* .btnContainer {
    border: 1px solid purple;
} */

.rightPhoto {
    width: 64%;
    border-radius: 0 10px 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    width: 36%;
    border-radius: 10px 0 0 10px;
}

#card1 .leftPhoto {
    background-color: #133853;
}

#card2 .rightPhoto {
    background-color: #6A2355;
}

#card3 .leftPhoto {
    background-color: #B1A79E;
}

#card4 .rightPhoto {
    background-color: #133853;
}

/* Styles for footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h5 {
    /* border: 1px solid red; */
    margin: 0 0 16px 0;
}

footer a {
    color: #201E1F;
}

footer p {
    /* border: 1px solid red; */
    margin: 16px 0;
}

/* Styles for About page */
.about {
    /* border: 1px solid red; */
    display: flex;
    width: 65%;
    justify-content: space-between;
    margin: 80px auto 0 auto;
}

.aboutInfo {
    width: 55%;
    /* border: 1px solid forestgreen; */
}

.about h3 {
    /* border: 1px solid blue; */
    margin: 0 0 16px 0;
}

.about button {
    background-color: #133853;
    border: 0;
    width: 155px;
    color: #efefef;
}

.about a {
    color: #efefef;
}

.about p {
    /* border: 1px solid green; */
    padding: 16px 0 0 0;
    margin: 0;
}

.about img {
    /* border: 1px solid blueviolet; */
    width: 40%;
    height: 80%;
}

.aboutButtons {
    /* border: 1px solid orange; */
    display: flex;
    justify-content: space-around;
    padding: 32px 16px 16px;
}

.skills {
    /* border: 1px solid green; */
    margin: 64px auto 80px;
    width: 68%;
}

.skills h5 {
    /* border: 1px solid red; */
    font-weight: 700;
    margin: 0;
}

.lists {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
}

.lists ul {
    padding: 0;
}

.lists li {
    /* border: 1px solid orange; */
    list-style-type: none;
    padding: 2px;
}